<body>
  <main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="height: auto; object-fit: cover;">
        <div class="carousel-item active">
          <%= image_tag("logo/SFU_campus_1.jpg", class: "first-slide d-block w-100 .img-fluid", alt: "First slide") %>
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>SFU Link</h1>
              <p>Make Every Single Moment Count.</p>
              <%#p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p%>
              <%= link_to '<button type="button">Sign Up Today</button>'.html_safe, signup_path %>
              <%= link_to '<button type="button">Log In</button>'.html_safe, login_path %>

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("logo/SFU_campus_2.jpg", class: "second-slide d-block w-100", alt: "Second slide") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Love, Connect & Inspire with SFU Link.</h1>
              <p>We are here to help you to find your match with same interest or hobbies, lifestyle, and to help you find your dream love.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("logo/students.jpg", class: "third-slide d-block w-100", alt: "Third slide") %>
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>Get to know interesting people around you</h1>
              <p>Swipe right to like, and swipe left to forget. SFU Link is a fun and easy way to connect you with the people you like.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <br/>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="http://ontarioheartcenter.ca/wp-content/uploads/2017/04/img-2.png" width="140" height="140">
          <h2>A Magic Moment</h2>
            <p> When someone you liked likes you back, it’s a match! You only get notifications when you’re matched with someone. Say goodbye to the embarrassment!</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://cdn.thisiswhyimbroke.com/images/our-love-story-book.jpg" width="140" height="140">
          <h2>Your Game, Your Way</h2>
          <p>Chat only with the people you are matched with. You will never receive messages from random people.</p>
          <br>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://i.dailymail.co.uk/i/pix/2013/02/18/article-0-17AA20FB000005DC-859_638x462.jpg" width="140" height="140">
          <h2>Keep it to yourself</h2>
          <p>Your dating life is private. We get it. You can choose to hide your contacts, which will ensure contacts in your address book won’t be suggested to you, nor you to them.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">SFU Link is free for all users. <span class="text-muted">Why?</span></h2>
          <p class="lead">Because love is not to be purchased, and affection has no price.</p>
          <br>
          <p class="lead">If you’re here to meet new people from SFU, expand your social network, or just live in the now, you’ve come to the right place! </p>
        </div>
        <div class="col-md-5">
          <img style= "width: 396px; height: 198px;" src="https://www.jeevansathi.com/blog/wp-content/uploads/2018/07/couple-understandings.jpg">
        </div>
      </div>

       <hr class="featurette-divider">

       <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Not sure who's your type? </span></h2>
          <p class="lead">
            Don't worry, we are here to help!
            <br></br>
            Based on your faculty, interests, and age preference, we will recommend you an outstanding individual.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img style= "width: 320px; height: 180px;" src="http://saltandlighttv.org/blog/wp-content/uploads/2015/10/LoveQuestion.jpg">
        </div>
       </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
        </div>
      <div class="col-md-5">
        <img style= "width: 267px; height: 180px;" src="https://cdn4.vectorstock.com/i/1000x1000/94/68/safe-sex-theme-symbols-low-polygon-background-vector-10189468.jpg">
      </div>
     </div>

     <hr class="featurette-divider">

     <!-- /END THE FEATURETTES -->


    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2019 SFU Link Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../../../assets/js/vendor/popper.min.js"></script>
  <script src="../../../../dist/js/bootstrap.min.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <script src="../../../../assets/js/vendor/holder.min.js"></script>
</body>
