<%= javascript_tag do %>
$(document).ready(function() {

  var animating = false;
  var cardsCounter = 0;
  var numOfCards = <%= @possible_partners.length %>;
  var decisionVal = 80;
  var pullDeltaX = 0;
  var deg = 0;
  var $card, $cardReject, $cardLike

  function pullChange() {
    animating = true;
    deg = pullDeltaX / 10;
    $card.css("transform", "translateX("+ pullDeltaX +"px) rotate("+ deg +"deg)");

    var opacity = pullDeltaX / 100;
    var rejectOpacity = (opacity >= 0) ? 0 : Math.abs(opacity);
    var likeOpacity = (opacity <= 0) ? 0 : opacity;
    $cardReject.css("opacity", rejectOpacity);
    $cardLike.css("opacity", likeOpacity);
  };

  function check_match(current_name, selected_name){
    localStorage.setItem(current_name, selected_name);

    if (selected_name in localStorage){
      alert("Matched\nNow put this information in the Matching table");
    };
  };

  function release() {
    localStorage.clear()
    if (pullDeltaX >= decisionVal) {
      $card.addClass("to-right");
      var selected_name = $card.find("p:first").text();
      var name_list = document.getElementsByClassName("demo__card__name");
      var current_name = "<%= current_user.firstname.html_safe + " " + current_user.lastname.html_safe %>";

      check_match(current_name, selected_name);

    } else if (pullDeltaX <= -decisionVal) {
      $card.addClass("to-left");
    }

    if (Math.abs(pullDeltaX) >= decisionVal) {
      $card.addClass("inactive");

      setTimeout(function() {
        $card.addClass("below").removeClass("inactive to-left to-right");
        cardsCounter++;
        if (cardsCounter === numOfCards) {
          cardsCounter = 0;
          $(".demo__card").removeClass("below");
        }
      }, 300);
    }

    if (Math.abs(pullDeltaX) < decisionVal) {
      $card.addClass("reset");
    }

    setTimeout(function() {
      $card.attr("style", "").removeClass("reset")
        .find(".demo__card__choice").attr("style", "");

      pullDeltaX = 0;
      animating = false;
    }, 300);
  };

  $(document).on("mousedown touchstart", ".demo__card:not(.inactive)", function(e) {
    if (animating) return;

    $card = $(this);
    $cardReject = $(".demo__card__choice.m--reject", $card);
    $cardLike = $(".demo__card__choice.m--like", $card);
    var startX =  e.pageX || e.originalEvent.touches[0].pageX;

    $(document).on("mousemove touchmove", function(e) {
      var x = e.pageX || e.originalEvent.touches[0].pageX;
      pullDeltaX = (x - startX);
      if (!pullDeltaX) return;
      pullChange();
    });

    $(document).on("mouseup touchend", function() {
      $(document).off("mousemove touchmove mouseup touchend");
      if (!pullDeltaX) return; // prevents from rapid click events
      release();
    });
  });
});
<% end %>
<div class="demo">
  <header class="demo__header">Matching</header>
  <div class="demo__content">
    <div class="demo__card-cont">
      <% @possible_partners.each do |candidate| %>
        <div class="demo__card">
          <div class="demo__card__top <%= @colors.shuffle.first %>">
            <div class="demo__card__img"></div>
            <p class="demo__card__name"><%= candidate.firstname %> <%= candidate.lastname %></p>
          </div>
          <div class="demo__card__btm">
            <p class="demo__card__we"><%=candidate.description%></p>
          </div>
          <div class="demo__card__choice m--reject"></div>
          <div class="demo__card__choice m--like"></div>
          <div class="demo__card__drag"></div>
        </div>
      <% end %>
    </div>
    <p class="demo__tip">Swipe left or right</p>
  </div>
</div>
