<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<hr>
<div class="container bootstrap snippet">
  <div class="row">
  	<div class="col-sm-10"><h1>Tell us more about yourself, <%= current_user.firstname %></h1></div>
    <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
  </div>
  <div class="row">
  	<div class="col-sm-3"><!--left col-->

      <%= form_for(current_user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div><hr><br>
    </div><!--/col-3-->
    <div class="col-sm-9">
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <hr>
          <form class="form" action="##" method="post" id="registrationForm">
            <div class="form-group">
              <div class="col-xs-6">
                <h4><%= f.label :firstname, "First Name" %></h4>
                <%= f.text_field :firstname, class: "form-control", value: current_user.firstname %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <h4><%= f.label :lastname, "Last Name" %></h4>
                <%= f.text_field :lastname, class: "form-control", value: current_user.lastname %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <h4><%= f.label :email, "SFU email" %></h4>
                <%= f.text_field :email, class: "form-control", value: current_user.email, disabled: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <h4><%= f.label :gender, "Gender" %></h4>
                <%= f.label :gender, "Male" %>
                <%= f.radio_button :gender, 'm' %>
                <%= f.label :gender, "Female" %>
                <%= f.radio_button :gender, 'f' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <h4><%= f.label :description, "Bio (max 150 chars)" %></h4>
                <%= f.text_area :description, class: "form-control", maxlength: 150 %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <h4><%= f.label :faculty, "Faculty" %></h4>
                <%= f.select :faculty, [["Applied Sciences", 0], ["Arts and Social Science", 1], ["Beedie School of Business", 2], ["Communication, Art and Technology", 3], ["Education", 4], ["Environment", 5], ["Health Sciences", 6], ["Science", 7]] %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <label for="location"><h4>Hobbies</h4></label>
                <p>Let's do this when we add search bar</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <br>
                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
              </div>
            </div>
      	  </form>
          <hr>
        </div><!--/tab-pane-->
        <br>
      </div><!--/tab-pane-->
    </div><!--/tab-content-->
  </div><!--/col-9-->
      <% end %>
</div><!--/row-->
